.category {
  width: 1024px;
  margin: auto;
}

.title {
  font-family: RalewayExtraBold;
  font-size: 36px;
  color: #323232;
  padding-top: 62px;
  margin-left: 64px;
}

.products {
  width: 900px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 18px;
  margin-left: 64px;
  margin-right: 64px;
}
