.title {
  font-family: RalewayExtraBold;
  font-size: 36px;
  color: #323232;
  padding-top: 62px;
  margin-left: 64px;
}

.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  justify-content: space-between;
}
